
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Kensa.Correlation.Mongo.csproj.CoreCompileInputs.cache
obj/Debug/Kensa.Correlation.Mongo.csprojAssemblyReference.cache
obj/Debug/Kensa.Correlation.Mongo.dll
obj/Debug/Kensa.Correlation.Mongo.pdb
bin/Debug/Kensa.Correlation.dll
bin/Debug/Kensa.Correlation.Mongo.dll
bin/Debug/Kensa.Correlation.Mongo.pdb
bin/Debug/Kensa.Correlation.pdb
Class1.cs
